.atoms-input-txt_container {
  background-color: var(--lighter);
  width: 100%;
  margin: 0 1rem;
}

.atoms-input-txt_container input {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-style: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 2rem;
  color: #000;
}

.atoms-paragraph {
  font-size: 1rem;
  font-weight: 500;
}
